/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .movie-info{
    border: 1px solid #ccc;
    width: 100%;
    margin: 10px 0px;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 200px auto;
    font-size: 0.9em;
 }

 .movie-info h3{
    font-size: 1.8em !important;
    margin: 0!important;
 }

 .movie-title{
    margin-top: 0px!important;
    margin-bottom: 10px!important;
    margin-right: 130px!important;
    font-size: 1.8em !important;
    line-height: 1.2em;

 }

 .movie-meta{
     padding: 10px;
     position: relative;
 }

 .movie-rating {
     background: #ccc;
     border-radius: 4px;
     padding: 2px 6px;
 }

.movie-rating,  .movie-runtime {
    margin-right: 20px;
}

.movie-score{
    position: absolute;
    right: 10px;
    top: 10px;
}

.movie-plot{
    width: 90%;
}

.movie-title{
    overflow-wrap: break-word;
}

.imdb-rating, .metascore  {
    border: 2px solid #ccc;
    height: 60px;
    min-width: 55px;
    width: auto;
    padding: 3px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.5em;
}

.imdb-rating h3, .metascore  h3{
    font-size: 3.5em!important;
}

